p{
    background-color: aqua;
}

#ruler{
    background-color: bisque;
}
.block{
    background-color: blue;
  
}

.inline{
    color: brown;
 
}




#first{
    background-color: azure;
}