.box1{
    height: 40px;
    width: 40px;
    color: aqua;
    background-color: red;
    border-radius: 14px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    animation: animatex 2s linear infinite,animatey 1s ease-out infinite alternate;
   
}
.box{
    height: 455px;
    width: 900px;
    background-color: blue;
    position: relative;
}

@keyframes animatex {
    from{
        left: 0;
    }
    to{
        left: 100%;
    }
}

@keyframes animatey {
    from{
        bottom: 0;
    }
    to{
        bottom: 100%;
    }
    
}